.container {
  display: flex;
  margin-bottom: 20px;
}

#firstname, #lastname, #birthday, #review {
  border-radius: 5px;
  outline: none;
}

.name-lastname-container, .general-info-container {
  justify-content: space-between;
}

.rating-container {
  display: flex;
  justify-content: space-between;
  border: 2px solid blue;
  vertical-align: middle;
}